<div class="container h-100 d-flex justify-content-center">
    <div class="row">
        <div class="col-xs-4 col-xs-offset-4 p-4">

            <div class="panel panel-default box-shadow shadow-sm p-3 mb-5 bg-white rounded">

                <div class="panel-heading text-center">
                    <span class="text-primary h4">Log In Here</span>             
                </div><!--.panel-heading-->

                <% if flash[:danger] %>
                    <%= flash[:danger] %>
                <% end %>

                <div class="panel-body">
                    <%= bootstrap_form_for :user do |f| %>
                        <br>
                        <br>
                        <%= f.text_field :username %>

                        <%= f.password_field :password %>


                        <%= f.submit 'Log In', class: "btn btn-block btn-primary"%>
                    <% end %>
                    <br>
                    <p class="text-center text-muted h8">
                        Or login with
                    </p>
                        <%= link_to 'Google', '/auth/google_oauth2', class: "btn btn-block btn-success"%>
                        <%= link_to 'Facebook', '/auth/facebook', class: "btn btn-block btn-success"%>

                        Dont't have an account? <%= link_to 'Create account', signup_path %>
                </div> <!--.panel-body-->
            </div> <!--panel -->

        </div>
    </div>
</div>