<h1>Log In Page </h1>

<% if flash[:danger] %>
    <%= flash[:danger] %>
<% end %>

<%= form_for :user do |f| %>

    <%= f.label :username %>
    <%= f.text_field :username %>

    <%= f.label :password %>
    <%= f.password_field :password %>


    <%= f.submit 'Log In'%>
<% end %>
<%= link_to 'Log In with Google', '/auth/google_oauth2'%>
<%= link_to 'Log In with Facebook', '/auth/facebook'%>
<h3>Dont't have an account? <%= link_to 'Create account', signup_path %></h3>