<div class="container-fluid">
<div class="row">
<div class="col">
<h1> Update Account </h1>
<%= bootstrap_form_for @user do |f| %>

    <%= f.text_field :firstname %>

    <%= f.text_field :lastname %>

    <%= f.email_field :email %>

    <%= f.password_field :password %>

    <%= f.password_field :password_confirmation %>

    <%= f.submit 'Update', class: "btn btn-primary"%> 

<% end %>

</div>
</div>
</div>