<h1 class="first-class align-center">Sign Up Here</h1>

<div class="container-fluid padding">
    <div class="row welcome text-left">
        <div class="col-12">

            <div>
                <%= render partial: 'layouts/errors', locals: { object: @user } %>
            </div>

                
                    <%= bootstrap_form_for @user do |f| %>

                    <div class="form-row">
                        <div class="col">
                            <%= f.text_field :firstname %>
                        </div>

                        <div class="col">  
                            <%= f.text_field :lastname %>
                        </div>

                        <div class="col">
                            <%= f.text_field :username %>
                        </div>

                        <div class="col">
                            <%= f.email_field :email %>
                        </div>

                        <div class="col">
                            <%= f.password_field :password %>
                        </div>

                        <div class="col">
                            <%= f.password_field :password_confirmation %>
                        </div>
                    </div>

                    <%= f.submit 'Sign up', class: "btn btn-success" %>

                <% end %>
            </div>
        </div>
    </div>
</div>
