<h1> Place Your Order </h1>

<%= form_for @order do |f| %>

    <%= f.label :address_field_1 %>
    <%= f.text_field :address_field_1, placeholder: "House and street number" %>

    <%= f.label :address_field_2 %>
    <%= f.text_field :address_field_2, placeholder: "Apt/Flr" %>

    <%= f.label :city %>
    <%= f.text_field :city %>

    <%= f.label :state %>
    <%= f.text_field :state, placeholder: "eg: NY"%>

    <%= f.label :zipcode %>
    <%= f.text_field :zipcode %>

    <%= f.label :payment_method %>
    <%= f.select :payment_method, options_for_select(["Card", "Bank Account", "Paypal"]) %>

    <%= f.submit "Complete Order" %>

<% end %>