
<h1>Your Cart</h1>
<% if @cart.cart_products.empty? %>
    <h3> It's so lonesome here!!!
        Add some products to your cart.
    </h3>

<% else %>

    <div class="shadow-sm p-3 mb-5 bg-white rounded">
    <div class="container-fluid padding">
    <div class="row padding">
        <div class="col-lg-6">

            <% @cart_products.each.with_index(1) do |cp, i|%>
                <%= "#{i}. #{cp.product.title.titleize}" %> <br>
                Price $ <%= cp.product.price %><br>
                Items In cart: <%= cp.quantity %>
                    <%= bootstrap_form_for cp do |f| %>
                        <%= f.select :quantity, options_for_select(select_quantity(cp.product))%>
                        <%= product_count(cp.product, cp) %><br>
                        
                    <div class="btn-group">
                        <%= f.submit "Update Quantity", method: :patch, class:"btn btn-success btn-sm" %><br>
                    <% end %>

                        <%= link_to 'Remove Item', cart_product_path(cp), method: :delete, class:"btn btn-danger btn-sm" %><br>
                    </div>

                subtotal: <%= cp.subtotal %><br>
            <%end%>

            <%= "Total amount: #{@cart.total}" if @cart %>
            <br>

        </div>

        <div class="col-lg-6 p-4">
            <%= link_to 'Checkout', new_order_path, class:"btn btn-danger btn-md" %>
        </div>
        
    </div>
</div>
</div>
    

<% end %>
