
<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Your Cart</h1>
     </div>
</section>

<div class="container mb-4">
    <div class="row">
        <div class="col-12">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col"> </th>
                            <th scope="col">Product</th>
                            <th scope="col">Available</th>
                            <th scope="col" class="text-center">Quantity</th>
                            <th scope="col" class="text-right">Price</th>
                            <th> </th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @cart_products.each do |cp| %>
                        <tr>
                            <td> <%= image_tag url_for(cp.product.cart_image) %> </td>
                            <td><%= "#{cp.quantity} x #{cart_name(cp.product)}" %></td>
                            <td><%= product_count(cp.product, cp) %> <%= bootstrap_form_for cp do |f| %> </td>

                            <td> 
                                <%= f.select :quantity, options_for_select(select_quantity(cp.product)), class: "", skip_label: true %>
                                <%= f.submit "Update", method: :patch, class:"btn btn-sm" %><br>
                                <% end %>
                            </td>
                            
                            <td class="text-right">$ <%= cp.subtotal %></td>
                            <td class="text-right"><%= link_to '', cart_product_path(cp), method: :delete, class: "btn btn-sm btn-danger fa fa-trash" %></i></td>
                        </tr>
                        <% end %>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>SubTotal</td>
                            <td class="text-right">$ <%= @cart.total %></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>Shipping</td>
                            <td class="text-right">Free</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><strong>Total</strong></td>
                            <td class="text-right">$ <strong><%= @cart.total%> </strong></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col mb-2">
            <div class="row">
                <div class="col-sm-12  col-md-6">
                    <%= link_to 'Continue shopping', products_path, class:"btn btn-lg btn-block btn-light" %>
                </div>
                <div class="col-sm-12 col-md-6 text-right">
                    <%= link_to 'Checkout', new_order_path, class:"btn btn-lg btn-block btn-success text-uppercase" %>
                </div>
            </div>
        </div>
    </div>
</div>

