<h1>Create A Product For Sale</h1>

<%= render partial: 'layouts/errors', locals: {object: @product} %>

<%= bootstrap_form_for @product do |f| %>

    <%= f.file_field :image%><br>

    <%= f.text_field :title %>

    <%= f.text_field :brand %>

    <%= f.text_field :product_model, :placeholder => "eg: iPhone X" %>

    <%= f.text_field :storage_capacity, :placeholder => "eg: 64 GB" %>

    <%= f.select :condition, options_for_select(["Brand New", "Refubrished", "Used"]) %>

    <%= f.text_field :color %>

    <%= f.text_area :description %>

    <%= f.number_field :quantity %>

    <%= f.number_field :price %>

    <%= f.submit 'Submit', class: "bttn bttn-primary" %>
<% end %>