<%= render partial: 'layouts/errors', locals: {object: @product} %>

<div class="container h-100 d-flex justify-content-center">
    <div class="row">
        <div class="col-xs-4 col-xs-offset-4 p-4">

            <div class="panel panel-default box-shadow shadow-sm p-3 mb-5 bg-white rounded">

                <div class="panel-heading text-center">
                    <span class="text-info h4">List the descriptions of your product</span> 
                    <br>
                    <br>
                    <br>          
                </div><!--.panel-heading-->


                <div class="panel-body p-4">
                    <%= bootstrap_form_for @product do |f| %>
                    <div class="form-row">
                        <div class="col">
                            <%= f.file_field :image %><br>

                            <%= f.text_field :title %>

                            <%= f.text_field :brand %>

                            <%= f.text_field :product_model, :placeholder => "eg: iPhone X" %>
                        
                            <%= f.text_field :storage_capacity, :placeholder => "eg: 64 GB" %>
                        </div>
                        <div class="col">
                             <%= f.select :condition, options_for_select(["Brand New", "Refubrished", "Used"]) %>

                            <%= f.text_field :color %>

                            <%= f.number_field :quantity, label: "Quantity (How many piece)" %>

                            <%= f.number_field :price, label: "Price(per unit)", placeholder: "$"%>

                            <%= f.text_area :description %>
                            <%= f.submit 'Submit', class: "btn btn-block btn-success" %>
                        </div>
                        
                    </div>
                </div>
                <div class="panel-footer">
                    
                </div>
                <% end %>
            </div>
        </div>
    </div>
</div>
