<h1> <%= @product.title %> </h1>


<%= @product.brand %>
<%= @product.product_model %>
<%= @product.storage_capacity %>
<%= @product.condition %>
<%= @product.color%>
<%= @product.description %>
<%= @product.price %>

<%= link_to "Add to Cart", new_cart_products_path %>

<%= link_to 'Edit', edit_product_path %>

<%= link_to 'Delete', product_path(@product), method: :delete %>